* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.raamat {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80rem;
  border: 1px solid #027780;
  border-radius: 0.5rem;
}

.raamat-image {
  max-height: 20rem;
  border-radius: 0.5rem;
}

.pealkiri {
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding-top: 2rem;
}

.raamat-data  {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.kirjeldus {
  padding-right: 1rem;
}

.book-items {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #027780;
  border-radius: 0.5rem;
  max-width: 24rem;
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 1rem;
}

.book-image {
  max-width: 24rem;
  border-radius: 0.5rem;
}

.book-author {
  padding-top: 1rem;
}
