* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.raamat {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  border: 1px solid #027780;
  border-radius: 0.5rem;
}

.raamat-image {
  max-width: 28rem;
  max-height: 20rem;
  border-radius: 0.5rem;
}

.pealkiri {
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.raamat-data  {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

p {
  padding-bottom: 1rem;
}

.kirjeldus {
  padding-right: 1rem;
}
